<h1 class="text-center">Articles</h1>
<div class="text-center mb-4">
  <%= link_to "Create new article", new_article_path %>
</div>
<%= render 'article', obj: @articles %>
<div class="text-center">
  <%= will_paginate :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>
