<h1 class="text-center">Categories</h1>

<div class="categories-container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total of articles</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= link_to "#{category.name}", category_path(category) %>
          </td>
          <td>
            <%= pluralize(category.articles.count, "article") %>
          </td>
          <td>
          <% if logged_in? and current_user.admin? %>
            <%= link_to "Edit", edit_category_path(category), class: "btn btn-primary" %>
          <% end %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>
